body {
  font-family: Helvetica, Arial;
  background: darkgray;
}
.clearfix {
  float: none;
  clear: both;
  text-decoration: none;
  list-style: none;
}
#content {
  width: 80%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ddd;
  background: #eee;

}
header {
  padding: 15px;
  background: #57819a;
}
header .title-subtitle {
  float: left;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  color: white;
  padding: 25px;
  margin-left: -65px;
  padding-left: 50px;
}
header h1, header p {
  margin: 0;
  margin-left: 15px;
}

header h1 a{
  text-decoration: none;
  color: white;
}
header h1 a:hover{
  text-decoration: underline;
  color: white;
}

header p{
  color: #ddd;
}

header #logo{
  width: 80px;
  display: block;
  float: left;
  margin-top: 8px;
}
.btn-add-favorito{
  display: block;
  padding: 10px;
  float: right;
  margin-right: 30px;
  margin-top: 57px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px gray;
  color: #666;
  text-decoration: none;
  transition: all 300ms;
}
.btn-add-favorito:hover{
  background: white;
  color: #444;
}

#favoritos-list{
  padding: 0;
  margin: 0;
}
.favorito-item{
  list-style: none;
  width: 31%;
  border: 1px solid #ddd;
  height: 120px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: grey;
  background: white;
  margin: 10px;
}
.favorito-item .content-data{
  float: left;
  margin-left: 20px;
  width: 85%
}

.favorito-item h4{
  color: #444;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.favorito-item .url{
  margin: 0;
  margin-top: 10px;
  padding: 0;
  height: 45px;
  overflow: hidden;
}

.favorito-box{
  margin-left: 25px;
  margin-top: 20px;
  width: 91%;
  border: 1px solid #ddd;
  min-height: 150px;
  padding: 20px;
  padding-bottom: 20px;
  /*color: grey;*/
  background: white;
}

.btn{
  font-size: 14px;
  border: 1px solid #ccc;
  border-color: #1976D2;
  border-radius: 4px;
  box-shadow: 0 0 5px #ddd;
  padding: 5px;
  text-decoration: none;
  color: white;
  background: #0074d9;
  cursor: pointer;
  margin-left: 5px;
}
.btn-editar{
  background: #0A0;
  border-color: #59a600;
}
.btn-eliminar{
  background: #E23237;
  border-color: #F54747;
}
.btn-default{
  background: #eaa615;
  border-color: #cc941c;
  color: white;
  margin-left: 0;
}
.loading{
  margin: 25px;
}

footer{
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
}

.seguro{
  color: #444;
  width: 22%;
  position: absolute;
  margin-top: -121px;
  background: darkgray;
  height: 115px;
  text-align: center;
  margin-left: -3px;
  border-radius: 3px;
}
