<div class="w3-main w3-content w3-padding" style="max-width:1200px">
    <h1 id="top">{{titulo}}</h1>
    <hr id="about">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">

    <div *ngFor="let album of albums" class="w3-quarter">
      <img src="../assets/img/album-1.jpg" alt="Sandwich" style="width:100%">
      <h3>{{album.title}}</h3>
      <p>{{album.description}}</p>
      <a href="#" class="w3-black w3-btn w3-button">Ver Album</a>
    </div>

  </div>


  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  <hr id="about">

</div>
  <!-- End page content -->
